<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="hintrelicEntities" connectionString="metadata=res://*/HintRelic.csdl|res://*/HintRelic.ssdl|res://*/HintRelic.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;User Id=b2d87dec9e4e04;server=us-cdbr-azure-east-a.cloudapp.net;password=3eaa14d8;Persist Security Info=True;database=hintrelic&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>