<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="hintrelicEntities" connectionString="metadata=res://*/HintRelic.csdl|res://*/HintRelic.ssdl|res://*/HintRelic.msl;provider=MySql.Data.MySqlClient;provider connection string='server=b4fba317-9734-4216-8e17-a098002c962e.mysql.sequelizer.com;database=dbb4fba317973442168e17a098002c962e;uid=fjtrytqwtglguvyt;pwd=YqUJ7PNx3R4ViYe8MdbMf6CZXvtKUBLBehK4e4FERxVqYZR4jzKTWtQ3V3TJvdKz'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>